<footer class="footer-contenedor">

  <a href="index.html" title="Página principal"><img class="footer-contenedor__img" src="assets/images/logo.png" alt="Logo Jornadas Informáticas" height="50" width="50"></a>

  <nav aria-label="Navegación del footer">
    <ul class="footer-nav">
      <li><a class="footer-nav__link" href="index.html" title="Principal">Portada</a></li>
      <li><a class="footer-nav__link" href="participantes.html" title="Participantes">Participantes</a></li>
      <li><a class="footer-nav__link" href="informacion.html" title="Información">Información</a></li>
      <li><a class="footer-nav__link" href="formyfotos.html" title="Formulario">Formulario</a></li>
    </ul>
  </nav>

  <ul class="nav-redes" aria-label="Redes Sociales">
    <li><a href="#"><img class="nav-redes__img" src="assets/images/gmail-blanco.png" alt="Gmail" title="Correo Gmail" height="24" width="24"></a></li>
    <li><a href="#"><img class="nav-redes__img" src="assets/images/facebook-blanco.png" alt="Facebook" title="Facebook Oficial" height="24" width="24"></a></li>
    <li><a href="#"><img class="nav-redes__img" src="assets/images/twitter-blanco.png" alt="Twitter" title="Twitter Oficial" height="24" width="24"></a></li>
  </ul>

</footer>
