<header class="header">

    <a href="index.html" title="Página principal"><img class="header__img" src="assets/images/logo.png" alt="Logo Jornadas Informáticas" height="50" width="50" loading="lazy"></a>

    <nav aria-label="Navegación principal">
      <ul class="header__nav">
        <li><a class="header__nav--link" href="participantes.html" title="Participantes">Participantes</a></li>
        <li><a class="header__nav--link" href="informacion.html" title="Información">Información</a></li>
        <li><a class="header__nav--link" href="formyfotos.html" title="Formulario">Formulario</a></li>
      </ul>
    </nav>

</header>